{% extends 'base.html' %}
{% block content %}

<h1>Attraction Details</h1>
<!-- itinerarys start here -->
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <img src="{{ attraction.photo }}" alt="">
        <span class="card-title">{{ attraction.name }}</span>
        <p>Location: {{ attraction.location}}</p>
      </div>
    </div>
    <!-- review form starts here -->
    {% if user.is_authenticated %}
    {{ review_form.as_p }}
    <div class="col s6">
      <form action="{% url 'add_review' attraction.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        <input type="submit" class="btn" value="Add Review">
      </form>
    </div>
    {% else %}
    {% endif %}
    <!-- review form ends here -->
      <br>
</div>
<!-- attractions end here -->
<!-- review form view starts here -->
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <!-- {% if itinerary.fed_for_today %}
          <div class="card-panel teal-text center-align">{{itinerary.name}} has been assigned an attraction</div>
        {% else %}
        <div class="card-panel red-text center-align">{{itinerary.name}} has no attractions</div>
        {% endif %} -->
        <table class="striped">
          <thead>
            <tr><th>User</th><th>Review</th><th>Rating</th></tr>
          </thead>
          <tbody>
            {% for review in attraction.review_set.all %}
            <tr>
              <td>{{review.user}}</td>
              <td>{{review.review}}</td>
              <td>{{review.get_rating_display}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- review form view ends here -->
</div>
<script>
  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}
