{% extends 'base.html' %}
{% block content %}

<div class="hero-container">
      <h1>Welcome to Wander!</h1>
      <p class="p-about">At Wander, we understand that the journey is just as important as the destination. That's why we've created the itinerary and travel app to help you explore the world with ease, excitement, and confidence.</p>
</div>

<div class="hero-container">
      <h2>Our Mission</h2>
      <p class="p-about">At Wander, our mission is simple: to inspire, empower, and enrich the travel experience for adventurers of all kinds. Whether you're embarking on a solo expedition, a romantic getaway, or a family vacation, we're here to make your journey unforgettable.</p>
</div>

<div class="hero-container">
      <h2>Join the Journey</h2>
      <p class="p-about">Ready to embark on your next great adventure? Start using Wander today and unlock a world of endless possibilities.</p>
</div>

<p class="p-about">Let's Wander Together</p>


{% endblock %}