{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wander</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <nav>
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo"><img class="logo" src="../static/photos/Screenshot 2024-04-06 at 9.34.21 PM (2).png" alt=""></a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'index' %}">Itineraries</a></li>
          <li><a href="{% url 'attractionindex' %}">Attractions</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'itinerarys_userindex' %}">My Itineraries</a></li>
          <li>
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Log Out</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div class="right">All Rights Reserved, &copy; 2024 Wander &nbsp;</div>
  </footer>
</body>
</html>
