{% extends 'base.html' %}
{% block content %}

<h1>Itinerary List</h1>
{% for itinerary in itineraries %}


<div class="card">
    <!-- Add this <a> tag -->
    <a href="/itineraries/{{ itinerary.id }}">
      <div class="card-content">
        <span class="card-title">{{ itinerary.name }}</span>
        <p>Date From: {{ itinerary.date_from }}</p>
        <p>Date To: {{ itinerary.date_to }}</p>
        <p>Location: {{ itinerary.location }}</p>
        <p>Description: {{ itinerary.description|linebreaks }}</p>
      </div>
    <!-- Don't forget the </a> closing tag -->
    </a>
  </div>

{% endfor %}
{% endblock %}