{% extends 'base.html' %}
{% block content %}

<h1>Itinerary Details</h1>
<!-- itinerarys start here -->
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ itinerary.name }}</span>
        {% if user.is_authenticated and user == itinerary.user %}
        <p class="it-dates">{{ itinerary.date_from }} - {{ itinerary.date_to}}</p>
        {% else %}
        {% endif %}
        <p class="it-location">{{ itinerary.location }}</p>
        <br>
        <p>{{ itinerary.description| linebreaks }}</p>
      </div>
      {% if user.is_authenticated and user == itinerary.user %}
      <div class="card-action">
        <a href="{% url 'itinerarys_update' itinerary.id %}" id="edit-delete">Edit</a>
        <a href="{% url 'itinerarys_delete' itinerary.id %}" id="edit-delete">Delete</a>
      </div>
      {% else %}
      {% endif %}
    </div>
    <!-- list form starts here -->
    {% if user.is_authenticated and user == itinerary.user %}
    <div class="grid-container">
      {% for attraction in attractions.all %}
      {% if forloop.counter0|divisibleby:2 %}
      <div class="row">
        {% endif %}
        <div class="col s6">
          <div class="card card-attraction">
            <a href="{% url 'attractiondetail' attraction.id %}">
              <div class="card-content card-content-attraction">
                <span class="card-title">
                  <p class="name_attraction">{{ attraction.name }}</p>
                  <p class="location">{{ attraction.location }}</p>
                </span>
              </div>
            </a>
            <div class="card-action">
              <form action="{% url 'assoc_attraction' itinerary.id attraction.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:2 or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!-- list form ends here -->
    {% else %}
    {% endif %}
  </div>
  <!-- itinerarys end here -->
<!-- list form view starts here -->
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <table>
          <thead>
            <tr><th>Attraction</th></tr>
          </thead>
          <tbody>
            {% for attraction in itinerary.attractions.all %}
            <tr>
              <td>{{attraction.name}}</td>          
              <td><a class="btn" href="{% url 'attractiondetail' attraction.id %}">Details</a></td>
              {% if user.is_authenticated and user == itinerary.user %}  
              <td>
                <form action="{% url 'unassoc_attraction' itinerary.id attraction.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn">Remove</button>
                </form>
              </td>
              {% else %}
              {% endif %}
            {% endfor %}
            </tr>
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- list form view ends here -->

</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  
  const selectEl = document.getElementById('id_name');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}